<header class="navbar">
  <a class="navbar-brand" href="https://interdata.vn/">
    <img src="logo1.ico" width="50" height="50" class="" alt="InterData.logo">InterData
  </a>
  <h3 class="navbar-center">Vietnam's Top-Tier Hosting Services</h3>


</header>

<!--&lt;!&ndash; Phần để chứa tuyết rơi &ndash;&gt;-->
<!--<div class="snow-container">-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  <div class="snow"></div>-->
<!--  &lt;!&ndash; Thêm nhiều phần tử .snow nếu cần &ndash;&gt;-->
<!--</div>-->




