/* Put these styles in: src/home/home.component.css */


.home {
  position: fixed;
  left: 200px;
  right: 100px;
  /*margin-left: 250px;*/
  /*padding-left: 5px;*/
}

/* 1. Decorate searching bar */
.findings {
  padding-top: 15px;
  /*padding-left: 780px;*/
  padding-left: 100px;
}

.findings input {
  width: 20%;
  padding-left: 5px;
  font-weight: normal;
  border: 2px black solid;
  border-radius: 4px;
}


/* 2. Decorate results part*/
.results {
  padding-top: 15px;
  padding-left: 100px;
  overflow-x: auto; /* Tránh tràn nội dung */
}

